
data/*
src/__pycache__/*
*.png
__pycache__/*
tests.py

*.svg
.venv/*
*.pyc
Doubly-Stochastic-DGP-master/
results/dropout001
results/results1
results/results2
results/results3
results/results4
*.txt
*.csv
*.pdf
demos/data/*
.venv_laplace/*
DeepVIP.zip
weights/*
weights_old/*
weights/multiclass_weights_MNIST
